videos * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Zilla Slab', serif;
    src: url('../assets/fonts/Coluna.otf') format('truetype');
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr auto;
    grid-template-areas: "header"
        "main"
        "footer";

    max-width: 100% !important;
    overflow-x: hidden !important;
    min-height: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    min-height: 100vh;

}


#header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 40px;
    font-size: large;
    justify-content: center;

}

h1 {
    font-family: 'Zilla Slab', serif;
    color: black;
    align-self: center;
    font-size: 12rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    background-color: aquamarine;
    padding: 40px;
    border: 3px solid goldenrod;


}

nav ul li {
    list-style-type: none;
}

#main {
    grid-area: main;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: columns;
    color: black;
    font-size: 9px;

}

#galeria {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fg1 fg2 fg3"
        "fg4 fg5 fg6";
    gap: 10px;

}

#galeria img {
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 10px rgb(1, 255, 56);
    border-radius: 20px;
}

#footer {
    grid-area: footer;
    width: 100%;
    font-size: 15px;
    padding: 3em;
    background-color: #a1f8c5;
    margin-top: 1.5em;
    margin-bottom: 0;
}

nav {
    grid-area: nav
}

header {
    background-color: beige;
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: large;
    justify-content: center;



}

nav ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 40px;
}

--------- h3 {
    font-size: 300%;
}

p {
    color: black;
    font-size: 250%;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    width: 600px;
    padding: 40px;



}

.contenido {
    grid-area: contenido;
}

.cat {
    height: 800px;
    width: 800px;
    display: block;
    margin: 0px auto;
}

nav ul li {
    list-style-type: none;
}

.separador {
    color: gray;
}

#lista1 li {
    display: inline;
    padding-left: 200px;
    padding-right: 3px;
    background-color: aquamarine;
}

a {
    color: black text-decoration none;
}

a:hover {
    color: black;
    background-color: beige;
}

footer {
    grid-area: footer;
    width: 100%;
    font-size: 15px;
    padding: 3em;
    background-color: #a1f8c5;
    margin-top: 1.5em;
    margin-bottom: 0;

}

consultas @font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
        url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
        url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


form {
    position: relative;
    width: 740px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: rgb(238, 238, 238) url(../img/background.jpg);
}

h3 {
    font: 1em "typewriter", monospace;
    align-self: end;
    font-size: 35px;
}

#message {
    grid-row: 1 / 5;
}

#from,
#reply {
    display: flex;
}

label {
    font: .8em "typewriter", sans-serif;
}

input,
textarea {
    font: 1.4em/1.5em "handwriting", cursive, sans-serif;
    border: none;
    padding: 0 10px;
    margin: 0;
    width: 80%;
    background: none;
}

input:focus,
textarea:focus {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

textarea {
    display: block;

    padding: 10px;
    margin: 10px 0 0 -10px;
    width: 100%;
    height: 90%;

    border-right: 1px solid;

    overflow: auto;
}

button {
    padding: 5px;
    font: bold .6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
}

button:after {
    content: " >>>";
}

button:hover,
button:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

#extintostext {
    color: black;
    font-size: 150%;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    width: 2500px;
    padding: 4px;
}


.galeria {

    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;

}


#redes {
    font-size: 1px;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aquamarine;
    list-style: none;
    padding: 40px;
}






.box {
    border-radius: 8px;
    margin: 100px auto;

    position:relative;
    font-size:25px;
    border:2px solid #000000;
    margin:10px;
    padding:10px;
    height:200px;
    width:400px;
    background-color:white;

    border:1px solid black;
	background-color:green;
	margin-right:10px;
	margin-bottom:10px;

    font-size:16px;
	text-align:justify;
    justify-content: space-evenly ;
}

.box1 {
    background-color: mediumpurple;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);


    
}

.box2 {
    background-color: chocolate;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);
}

.box3 {
    background-color: cornflowerblue;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);
}
.box4 {
    background-color: darkseagreen;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);
}
.box5 {
    background-color: gold;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);
}
.box6 {
    background-color: olive;
    transition-property: all;
    transition-duration: 5s;
    transform: translate(200px);
}
.box:hover {
    transform: scale(4);
}

------------------- nav ul,
.ad,
article,

.envoltura {
    background-color: #3a3548;
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "contenido"
        "sidebar"
        "ad"
        "galeria"
        "footer";
}

.galeria {
    background-color: goldenrod;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

img {
    width: 300px;
    height: 250px;
    border: 8px solid #3a3548;
    margin-top: 15px;
}

@media (min-width:500px) {
    .envoltura {
        margin: 0;
        grid-template-areas:
            "header header"
            "nav nav"
            "contenido sidebar"
            "ad ad"
            "galeria galeria"
            "footer footer";
    }

    nav ul {
        font-display: flex;
        justify-content: space-between;
    }

    img {
        width: 350px;
        height: 300px;
    }

    footer {
        margin-top: 0
    }

    ;
}

@media (min-width:768px) {
    .envoltura {
        background: rgb(232, 229, 20);
        background: linear-gradient(28deg, rgba(195, 190, 18, 0.45451684091605393) 32%, beige 40%, rgb(152, 249, 204) 50%, beige 71%, rgba(195, 190, 18, 0.45451684091605393) 100%);
        margin-bottom: 1.5em;
        grid-template-columns: 1fr 4fr 1fr;

        grid-template-areas:
            "header header header"
            "nav contenido sidebar"
            "nav contenido ad"
            "galeria galeria galeria"
            "footer footer footer";
    }

    nav ul {
        flex-direction: column;
        border: 2px solid goldenrod
    }

    header,
    h1,
    h2,
    a {
        color: #3a3548;
    }

    .padre {
        background-color: #3a3548;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 3em;
    }

    img {
        border: 5px solid goldenrod;
        width: 200px;
        height: 150px;
    }

    footer {
        margin-top: 1.5em;
        background: rgb(232, 229, 20);
        background: linear-gradient(28deg, rgba(195, 190, 18, 0.45451684091605393) 32%, beige 40%, rgb(152, 249, 204) 50%, beige 71%, rgba(195, 190, 18, 0.45451684091605393) 100%);
    }
}

@media(min-width:1024px) {
    body {
        background-color: beige;
    }

    .envoltura {
        color: rgb(176, 109, 17)
    }

    .padre {
        padding: 1.5em;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;
    }

    img {
        width: 475px;
        height: 400px;
        margin-top: 20px;
    }
}