$color:beige;
$colorh1: black;
$backcoloh1: aquamarine;

$primary: pink;
$secondary: blue;

$palette: (
    "primary"
    "secondary"
)

$string: pink;
$comment: yellow;
$variable: blue; 