@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

  .box { @include border-radius(10px); }

  @mixin box {

    position: relative;

    margin: 100px auto;

    border: 2px solid #000000;
    margin: 10px;
    padding: 10px;
    background-color: white;

    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;

    text-align: justify;
    justify-content: center;

    display: table;
  }


  @mixin syntax-colors($args...) {

    @each $name, $color in keywords($args) {
      pre span.stx-#{$name} {
        color: $color;
      }
    }
  }
  
  @include syntax-colors(
    $string: green,
    $comment: yellow,
    $variable: blue,
  )
  