@import "variables";
@import "generales";
@import "nav";
@import "medias";
@import "nosedondeva";

videos * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Zilla Slab', serif;
    src: url('../assets/fonts/Coluna.otf') format('truetype');
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden !important;
}

index #header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 40px;
    font-size: large;
    justify-content: center;

    padding-top: 5px;
    padding-bottom: 5px;

    #logo {

        width: 150px;
        height: 150px;
    }

    #main {
        grid-area: main;
        width: 100%;
        background-color: beige;
        display: flex;
        flex-wrap: wrap;
        flex-direction: columns;
        color: black;
        font-size: 1rem;

        #textindex {
            font-size: 25px;

        }

        .galeria {
            background-color: goldenrod;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 15px;
            justify-items: center;

            height: 100%;
            width: 100%;
            object-fit: cover;
            text-align: center;
        }

        #galeria {

            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "fg1 fg2 fg3"
                "fg4 fg5 fg6";
            gap: 10px;

        }

        #galeria img {
            width: 80%;
            height: 80%;
            box-shadow: 0px 0px 10px rgb(1, 255, 56);
            border-radius: 20px;
        }


        #message {
            grid-row: 1 / 5;
        }

    }

    .envoltura {
        background-color: #3a3548;
        margin-bottom: 1.5em;
        display: grid;
        gap: 20px;
        grid-template-areas: "header"
            "nav"
            "contenido"
            "sidebar"
            "ad"
            "galeria"
            "footer";
    }

}

#footer {
    grid-area: footer;
    width: 100%;
    font-size: 1, 5rem;
    padding: 3em;
    background-color: #a1f8c5;
    margin-top: 1.5em;
    margin-bottom: 0;


    #redes {
        font-size: 5rem;
        width: 90%;
        height: 10vh;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: aquamarine;
        list-style: none;
        padding: 40px;
    }
}

extintos #extintostext {
    color: black;
    font-size: 150%;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    width: 2500px;
    padding: 4px;
}

fotos .box {

    @include box


        {
        .box width: 30%;
        z-index: 10;
        outline-offset: 20px;
        transition: .3s;
        border-radius: 5px;
    }

    .box1 {
        background-color: mediumpurple;
        top: 8rem;
        left: 20%;



    }

    .box2 {
        background-color: chocolate;
        top: 8rem;
        left: 55%;
    }

    .box3 {
        background-color: cornflowerblue;
        top: 8rem;
        left: 30%;
    }

    .box4 {
        background-color: darkseagreen;
        top: 8rem;
        left: 70%;
    }

    .box5 {
        background-color: gold;
        top: 2rem;
        left: 10%;
    }

    .box6 {
        background-color: olive;
        top: 2rem;
        left: 20%;
    }

    .box:hover {
        transform: translateY(-2px) scale(1.1);
        outline: 20px solid aquamarine;
        z-index: 20;

        .box :hover .box:not(:hover) {
            transform: scale(.9);
        }

    }

}